#hexagon {
    width: 100px;
    height: 55px;
    background: #9dd53a;
    position: relative;
    margin: 0px;
	
}
#hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #9dd53a;
}
#hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #9dd53a;
}
#hexagon:hover {
	color: white;
background: #9dd53a; /* Old browsers */
background: -moz-linear-gradient(left, #7cbc0a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #7cbc0a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #7cbc0a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #7cbc0a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
background: linear-gradient(to right, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=1 ); /* IE6-9 */
}
#hexagon:hover:after {
	color: white;
	border-top: 25px solid #a1d54f;
	
}
#hexagon:hover:before {
	color: white;
	border-bottom: 25px solid #7cbc0a;
}
/*Múltiplos estilos*/
#hexagon:hover{
 transition:all 0.5s linear;
 -webkit-transition:all 0.5s linear;
 -moz-transition:all 0.5s linear;
}